# Node.js
node_modules/

# Credenciales
.env

# Docker
Dockerfile
docker-compose.yml

# Servicios sin terminar
frontend/

# Elementos expecificos
products/
stores/
seed.js
stores_db-products.json
stores_db-stores.json
linkProductos.js
linkRatings.js