# Node.js
node_modules/

# Credenciales
.env

# Docker
Dockerfile
docker-compose.yml

# Elementos expecificos
products/
stores/
linkProductos.js
linkRatings.js

# Logs
logs

# Gestor de servicios
gestor-servicios.bat