.button-generic {
  background: black;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.button-generic:hover{
  background: white;
  color: black;
}

.header-button {
  background: black;
  color: white;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.header-button:hover {
  background: white;
  color: black;
}

.nav {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: black;
    padding: 0 1rem;
}